<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta name="description" content = "">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    {% for message in messages %} 
    <div class = "alert alert -{{ message.tags }} alert-dismissible fade show" role = "alert">
        <strong>Message:</strong> {{ message }}
            <button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
                <span aria-hidden = "true">×</span>
            </button>
    </div>
    {% endfor %}

    <h3>QUESTION</h3>

    <h3>Question Number: {{ profile.quesno }}</h3>
    <h3>Question: {{ currquest }}</h3>
    <!-- <h4>Logged in successfully. Question will be displayed here. For now question.html</h4> -->
   
    {% if not easyQuestion%}
    <form method="POST" action="{% url 'QuestionView1' %}" name="name1">
    {% else %}  
    <form method="POST" action="{% url 'lifeline1' %}" name="name1">
    {% endif %}

        {% csrf_token %}

    <p>MARKS = {{ profile.marks }}</p>

    
    <!-- <button type="submit"><a hr    ef ="/signout">Signout</a></button><br> -->



    {% if profile.isFirstTry%}
        <input type="number" name="res1" id="res1" required><br>
        <!-- <button type="submit">Submit<br></button><br> -->

        <input type="number" name="res2" id="res2" disabled><br>
        <button type="submit">Submit<br></button><br>

    {% else %}
        <h3>First Answer: {{ resp1 }}</h3>
        <!-- <input type="number" name="res1" placeholder= User_Response. id="res2" disabled><br><br> -->
        <!-- <button type="submit">Submit<br></button><br> -->

        <input type="number" name="res2" id="res2" required><br>
        <button type="submit">Submit<br></button><br>

    {% endif %}

    <!-- <button type="button" href="#" onclick="lifeline1()">Lifeline 1<br></button><br> -->
    </form> 
    {% if profile.lifeline1_status %}
    <a href="/lifeline1/"><button>Simple Question</button></a>
    {% endif %}
    <!-- <script src="" async defer></script> -->
    <p id="timer"></p>
    <div id="myBar" class="w3-container w3-green" style="width:20%">{{profile.lifeline1_count}}</div>
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> -->
  <script>
    document.getElementById('timer').innerHTML =
      {{min1}} + ":" + {{second1}}
    startTimer();
    
    function startTimer() {
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if(s==59){m=m-1}
      if(m<0){
        return
      }
      
      document.getElementById('timer').innerHTML =
        m + ":" + s;
      console.log(m)
      setTimeout(startTimer, 1000);
     
      window.onload=function(){ 
      window.setTimeout(document.name1.submit.bind(document.name1), ({{min1}}* 60 + {{second1}}) * 1000);
      };
    }
    
    function checkSecond(sec) {
      if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
      if (sec < 0) {sec = "59"};
      return sec;
    }

    </script>
</html>