<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>

function lifeline3Fun() {
  $("#answerParagraph").text("Loading...");
  $.ajax({
        url: "{% url 'lifeline3' %}",
        dataType:"json",
        type: 'GET',
        data: {'question': document.getElementById("userQuestion").value},
        success: function(response) {
            console.log("Success");
            console.log(response);
            $("#answerParagraph").text(response.answer);
        },
        error: function(xhr, status, error) {
            $("#answerParagraph").text("Chat GPT error.");
            console.log("Error");
            console.log(xhr);
            console.log(status);
            console.log(error);
        }
    });
}
</script>
</head>
<body>
<p id="answerParagraph">?</p>
<input type="text" id="userQuestion"></input>
<button id="my-button" onclick="lifeline3Fun()">Click me</button>

</body>
</html>
