<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta name="description" content = "">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    {% for message in messages %} 
    <div class = "alert alert -{{ message.tags }} alert-dismissible fade show" role = "alert">
        <strong>Message:</strong> {{ message }}
            <button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
                <span aria-hidden = "true">×</span>
            </button>
    </div>
    {% endfor %}

    <h3>QUESTION</h3>

    <h3>Question Number: {{ profile.quesno }}</h3>
    <h3>Question: {{ currquest }}</h3>
    <!-- <h4>Logged in successfully. Question will be displayed here. For now question.html</h4> -->
   
    {% if not easyQuestion%}
    <form method="POST" action="{% url 'QuestionView1' %}" name="name1">
    {% else %}  
    <form method="POST" action="{% url 'lifeline1' %}" name="name1">
    {% endif %}

        {% csrf_token %}

    <p>MARKS = {{ profile.marks }}</p>

    
    <!-- <button type="submit"><a hr    ef ="/signout">Signout</a></button><br> -->



    {% if profile.isFirstTry%}
        <input type="number" name="res1" id="res1" required><br>
        

        <input type="number" name="res2" id="res2" disabled><br>
        <button type="submit">Submit<br></button><br>

    {% else %}
        <h3>First Answer: {{ resp1 }}</h3>
        
        <input type="number" name="res2" id="res2" required><br>
        <button type="submit">Submit<br></button><br>

    {% endif %}

    {% if profile.lifeline2_status %}
      <input id = "line2Checked" type = "checkbox" disabled>Extra Time</input> <br>
    {% else %}
      <input id = "line2Checked" type = "checkbox">Extra Time</input> <br>
    {% endif %}

    </form> 
    {% if profile.lifeline1_status %}
    <a href="{% url 'lifeline1' %}"><button>Simple Question</button></a>
    {% endif %}
    
    <p id="timer"></p>
    <div id="myBar" class="w3-container w3-green" style="width:20%">{{profile.lifeline1_count}}</div>
</body>

  <script>
    
    setTimeout(function() {
    document.getElementById("line2Checked").disabled = true;
    element.parentNode.removeChild(element);
  }, 3000);

    function countdown(seconds) {
      
      displayTime(seconds);
  
      
      var timer = setInterval(function() {
        seconds--;
        displayTime(seconds);
        if (seconds <= 0) {
          clearInterval(timer);
        }
      }, 1000);
  
      function displayTime(seconds) {
        
        var minutes = Math.floor(seconds / 60);
        var remainingSeconds = seconds % 60;
  
        
        var formattedTime = ('0' + minutes).slice(-2) + ':' + ('0' + remainingSeconds).slice(-2);
  
        document.getElementById('timer').textContent = formattedTime;
      }
    }
  
    
    countdown({{second1}}); 
  </script>
  
</html>